.sidebar-container {
  margin: 10px 30px;
  float: left;
}
.sidebar {
  width: 220px;
  background-color: white;
  overflow: auto;
}
.sidebar-title {
  background-color: #d9d9d9;
  text-align: center;
  font-weight: 600;
  padding: 8px 0px;
}
.sidebar a {
  display: block;
  color: black;
  font-size: 14px;
  margin: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #32b8ad;
  border-radius: 5px;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #32b8ad;
  border-radius: 5px;
  color: white;
}
